<div class="container">
  <nav>
    <div class="sidebar-header">
        <button class="logo-wrapper toggle-btn">
            <img src="img/planet-3-svgrepo-com.svg" alt="Logo">
            <h2 class="hidden">TRAVEL</h2>
        </button>
    </div>
  
    <div class="sidebar-links">
        <a class="link" routerLink="/">
            <img src="img/home-angle-svgrepo-com.svg" alt="">
            <span class="hidden">Home</span>
        </a>
        <a class="link" routerLink="/tickets">
            <img src="img/bill-svgrepo-com.svg" alt="">
            <span class="hidden">Projects</span>
        </a>
        <a class="link" routerLink="/reservas">
            <img src="img/bookmark-square-svgrepo-com.svg" alt="">
            <span class="hidden">Dashboard</span>
        </a>
        <a class="link" routerLink="/tours">
            <img src="img/map-arrow-square-svgrepo-com.svg" alt="">
            <span class="hidden">Tasks</span>
        </a>
    </div>
  
    <div class="sidebar-bottom">
        <div class="sidebar-links">
            <a class="link" routerLink="configs">
                <img src="img/ruler-cross-pen-svgrepo-com.svg" alt="">
                <span class="hidden">Settings</span>
            </a>
        </div>
  
        <div class="user-profile">
            <div class="user-avatar">
                <img src="img/profile-pic.jpg" alt="">
            </div>
            <div class="user-details hidden">
                <p class="username">Yorlin</p>
                <p class="user-email">{{correo}}</p>
            </div>
        </div>
    </div>
  </nav>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>