<div class="container">
  <nav>
    <div class="sidebar-header">
        <button class="logo-wrapper toggle-btn">
            <img src="img/logo.svg" alt="Logo">
            <h2 class="hidden">LOGO</h2>
        </button>
    </div>
  
    <div class="sidebar-links">
        <a class="link">
            <img src="img/home.svg" alt="">
            <span class="hidden">Home</span>
        </a>
        <a class="link">
            <img src="img/projects.svg" alt="">
            <span class="hidden">Projects</span>
        </a>
        <a class="link">
            <img src="img/dashboard.svg" alt="">
            <span class="hidden">Dashboard</span>
        </a>
        <a class="link">
            <img src="img/tasks.svg" alt="">
            <span class="hidden">Tasks</span>
        </a>
    </div>
  
    <div class="sidebar-bottom">
        <div class="sidebar-links">
            <a class="link">
                <img src="img/settings.svg" alt="">
                <span class="hidden">Settings</span>
            </a>
        </div>
  
        <div class="user-profile">
            <div class="user-avatar">
                <img src="img/profile-pic.jpg" alt="">
            </div>
            <div class="user-details hidden">
                <p class="username">Jane Doe</p>
                <p class="user-email">janedoecom</p>
            </div>
        </div>
    </div>
  </nav>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>